.botaomenu {
  color: rgba(128, 137, 143, 0.555);
  transform: rotate(-90deg);

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: x;
}

.aside-barralateral {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: x;
}

@keyframes rodarbotaoabrir {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes rodarbotaofechar {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

@keyframes abrirmenu {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes fecharmenu {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-300px);
  }
}

@media (max-width: 700px) {
  .aside-barralateral {
    display: flex;
    position: absolute;
    height: 200vh;
    transform: translateX(-300px);
  }

  .conteiner-search i {
    display: inline;
  }
}
